%h1.title Lista de usuarios

%table#table
  %thead
    %tr
      %th Nombre
      %th Apellido
      %th Twitter
      %th
  %tbody
    - @users.each do |user|
      %tr
        %article
          %td= link_to user.nombre, usuario_path(user)
          %td= user.apellido
          %td= user.twitter
          %td= link_to "Borrar", usuario_path(user), :method => :delete, :confirm => 'Are you sure?'



%p=link_to "Crear nuevo usuario", new_usuario_path

