%h1.Title Reservar - Sala DCC
= if (@texto)
  %h2.title #{@texto}
%p=@fecha

= render 'form'

%iframe{:frameborder => "0", :height => "600", :scrolling => "no", :src => "https://www.google.com/calendar/embed?src=r3qsa3ncr3l48cqvj8526nkgoc%40group.calendar.google.com&ctz=America/Tijuana", :style => "border: 0", :width => "800"}
